*{
  font-family: Helvetica, Arial, sans-serif;

}

body{
  padding: 60px;
  background: #edf7f1;
}

.users-task-table{
  background-color: #D7EEDF;
}

.users-task-table-header{
  background-color: #b9dfc9;
}

.filter-todos{
  display: inline;
}

.task-list{
  background: #D7EEDF;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo{
  align-items: center;
  background: #fff;
  border-radius: 3px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}
